* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

header {
  background: #edeef3;
}
header #Header {
  width: 1379.2px;
  height: 96.8px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header #Header .left {
  display: flex;
  align-items: center;
}
header #Header .left .header-category .category {
  position: relative;
  padding-left: 30px;
  margin-left: 30px;
  padding-top: 3px;
}
header #Header .left .header-category .category li:hover .submenu {
  z-index: 5;
  visibility: visible;
  opacity: 1;
}
header #Header .left .header-category .category li a {
  font-size: 16px;
  font-weight: 500;
  color: #0e1133;
  font-family: Hind, sans-serif;
  transition: all 0.3s ease-out 0s;
}
header #Header .left .header-category .category li a:hover {
  color: #0d6efd;
}
header #Header .left .header-category .category li a span {
  padding-left: 10px;
}
header #Header .left .header-category .category .submenu {
  position: absolute;
  top: calc(100% + 30px);
  left: 0;
  width: 200px;
  padding: 17px 0 15px;
  background: #ffffff;
  box-shadow: 0 10px 20px rgba(8, 0, 42, 0.0784313725);
  border-radius: 4px;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-out 0s;
}
header #Header .left .header-category .category .submenu a {
  width: 100%;
  display: block;
  padding: 3px 30px;
  text-transform: capitalize;
  color: #6d6e75;
  font-weight: 500;
  position: relative;
  font-family: Hind, sans-serif;
}
header #Header .left .category::after {
  position: absolute;
  content: "";
  left: 0;
  top: 60%;
  transform: translateY(-50%);
  width: 1px;
  height: 40px;
  background: #c9ccd4;
}
header #Header .right {
  display: flex;
  align-items: center;
}
header #Header .right .main-menu ul li {
  display: inline-block;
  position: relative;
}
header #Header .right .main-menu ul li:hover .home-menu {
  opacity: 1;
  visibility: visible;
  z-index: 999;
}
header #Header .right .main-menu ul li a {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  color: #0e1133;
  padding: 35px 15px;
  text-transform: capitalize;
}
header #Header .right .main-menu ul li a:hover {
  color: #0d6efd;
}
header #Header .right .main-menu ul li i {
  font-size: 12px;
}
header #Header .right .main-menu .home-menu {
  position: absolute;
  top: 120%;
  left: 0;
  width: 200px;
  background: #ffffff;
  z-index: 99;
  transition: all 0.3s ease-out 0s;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0 30px 70px rgba(11, 6, 70, 0.0784313725);
}
header #Header .right .main-menu .home-menu li {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
header #Header .right .main-menu .home-menu li:hover a::before {
  left: 0;
  right: auto;
  width: 100%;
}
header #Header .right .main-menu .home-menu li a {
  width: 100%;
  padding: 10px 25px;
  font-size: 14px;
  position: relative;
}
header #Header .right .main-menu .home-menu li a::before {
  position: absolute;
  content: "";
  top: 0;
  left: auto;
  right: 0;
  width: 0%;
  height: 100%;
  background: #2b4eff;
  z-index: -1;
}
header #Header .right .main-menu .home-menu li a:hover {
  color: #ffffff;
}
header #Header .right .header-search {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 50px;
}
header #Header .right .header-search form input {
  width: 280px;
  height: 50px;
  line-height: 20px;
  border-radius: 4px;
  background: #ffffff;
  outline: none;
  border: 1px solid #ffffff;
  font-size: 16px;
  padding: 25px 65px 20px 55px;
  transition: all 0.3s ease-out 0s;
}
header #Header .right .header-search form button {
  background: transparent;
  position: absolute;
  top: 15px;
  left: 24px;
  border: none;
  line-height: 2;
}
header #Header .right .header-search form button i {
  color: #8c8faa;
}
header #Header .right .header-search .header-cart {
  position: absolute;
  top: 15px;
  right: 20px;
  padding-left: 18px;
}
header #Header .right .header-search .header-cart::after {
  position: absolute;
  content: "";
  top: -5px;
  left: 0;
  width: 2px;
  height: 30px;
  background: #dbdfe9;
}
header #Header .right .header-search .header-cart a i {
  font-size: 22px;
  color: #0e1133;
}
header #Header .right .header-search .header-cart a span {
  position: absolute;
  top: -12px;
  right: -10px;
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 22px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  background: #2b4eff;
  border-radius: 50%;
  font-weight: 500;
  box-shadow: 0 10px 20px rgba(4, 23, 118, 0.3019607843);
}
header #Header .right .header-search .header-cart a span:hover {
  background-color: #0e1133;
}
header #Header .right .header-button {
  margin-left: 20px;
}
header #Header .right .header-button .btn {
  display: inline-block;
  height: 50px;
  line-height: 52px;
  text-align: center;
  padding: 0 25px;
  color: #fff;
  background: #2b4eff;
  border-radius: 4px;
  font-weight: 500;
}
header #Header .right .header-button .btn:hover {
  color: #fff;
  box-shadow: 0 10px 24px rgba(4, 23, 118, 0.3019607843);
}

.hero-area .hero-shape {
  position: relative;
}
.hero-area .hero-shape .circle-1 {
  position: absolute;
  top: 120px;
  left: 5%;
  animation: circle-1 6s linear 0s infinite alternate;
}
.hero-area .hero-shape .circle-2 {
  position: absolute;
  top: 400px;
  left: 0;
}
.hero-area .hero-shape .circle-3 {
  position: absolute;
  right: 0;
  top: 380px;
}

@keyframes circle-1 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=style.css.map */