.hero-area{
    background: #edeef3;
    width: 100%;
    height: 850px;
    .hero-shape{
        position: relative;

        .circle-1{
         position: absolute;
         top: 50px;
         left:5%;
         animation: circle-1 6s linear 0s infinite alternate;
        }

        .circle-2{
            position: absolute;
            top:400px;
            left: 0;

        }
        .circle-3{
            position: absolute;
            right: 0;
            top:380px;
        }
           
    }

    .container{
        width: 1200px;
        margin: 0 auto;
        display: flex;
        
        

        .hero-content{
            // width: 576px;
            
            
            h3{
                font-size: 59px;
                line-height: 1;
                font-weight: 700;
                font-family: Hind, sans-serif;
                color: #0e1133;
                margin-top: 290px;
                margin-bottom: 20px;


              
                .yellow-shape{
                    display: inline-block;
                    font-weight: 700;
                    position: relative;
                    z-index: 1;
                    
                }

                    img{
                        position: absolute;
                        bottom: 0px;
                        left: -8px;
                        z-index: -1;
                        animation: section-animation 3s infinite;
                    }
                    

            }
            span{
                font-weight:300;
                display: block;
            }

            p{
                font-size: 22px;
                color: #0e1133;
                padding-right: 130px;
                line-height: 30px;
                margin-bottom: 28px;
            }
            .btn{
                display: inline-block;
                height: 50px;
                line-height: 52px;
                text-align: center;
                padding: 0 25px;
                color: #fff;
                background: #2b4eff;
                border-radius: 4px;
                font-weight: 500;
                font-family: Hind, sans-serif;
                transition: all .3s ease-out 0s;
                &:hover{
                    color: #fff;
                    box-shadow: 0 10px 24px #0417764d;
                }
                
            }




        }

        .hero-thump{
           
            width: 576px;
            
            position: relative;
            .hero-1{
                position:absolute;
                bottom: -25px;
                left: -55px;
                z-index: 1;
                animation: hero-dot-1 5s linear 0s infinite alternate;
            }

            .hero-2{
                position: absolute;
                bottom: -120px;
                right: -10%;
                z-index: 1;
            }
            .hero-3{
                position: absolute;
                top: 135px;
                right: 5%;
                z-index: 1;
            }
        }

        .hero-thump-1{
            position: relative;
            margin-right: 30px;
            img{
                position: absolute;
                top:200px;
                right: 140px;
                width: 400px;
                height: 492px;
                border-radius: 40px 4px;
                box-shadow: 0 30px 60px #010b3c24;
                z-index: 1;
            }

            .hero-quote{
                position: absolute;
                bottom: -10px;
                left: -266px;
                padding: 15px 25px 20px;
                background: #ffffff;
                border-radius: 4px;
                box-shadow: 0 30px 60px #010b3c24;
                z-index: 1;
                animation: hero-bounce 2s infinite;
                animation-fill-mode: both;
                span{
                    font-size: 14px;
                    color: #474956;
                }
            }

        }

        .hero-thump-2{
           
           img{
           width: 200px;
           height: 240px;
           border-radius: 4px 40px;
           box-shadow: 0 30px 60px #010b3c24;
           position: absolute;
           top: 356px;
           right: 95px;
           z-index: 1;
           
           }
        }
    }


}


.Popular-cources{
    .container{
        width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-wrap:wrap;
        padding-bottom: 70px;
        padding-top: 120px;


        .section-title{
            width: 50%;
            margin-bottom: 45px;
            h2{
                font-size: 40px;
                color: #0e1133;
                text-transform: capitalize;
                z-index: 1;
                margin-bottom: 3px;
                font-family: Hind, sans-serif;
                font-weight: 700;
                line-height: 1.2;
                transition: all .3s ease-out 0s;

                span{
                    position: relative;
                    img{
                        position: absolute;
                        left: -14px;
                        bottom: 2px;
                        z-index: -1;
                        animation: section-animation 3s infinite;

                    }
                }
            }
        }

        .category-more{
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
           
            a{
                font-size: 16px;
                color: #6d6e75;
                font-weight: 500;
                padding-right: 21px;
                display: inline-block;
                transition: all .3s ease-out 0s;
                font-family: Hind, sans-serif;
                display: flex;
                align-items: center;
                gap:10px;
                
               
                &:hover{
                    color: #2b4eff;
                }
                i{
                    font-size: 14px;

                }
            }
        }

        .items{
            width: 32%;
            display: flex;
            align-items: center;
            margin-bottom: 30px;
            padding: 20px 40px;
            border-radius: 6px;
            border: 2px solid #eef0f6;
            transition: all .3s ease-out 0s;
            &:hover{
                background: #2b4eff;
                border-color: #2b4eff;
                box-shadow: 0 20px 30px #0417764d;
               
            }

          



            .category-item{
                svg{
                    width: 40px;
                    height: 40px;
                    margin-right: 30px;
                   
                }
            }

            .category-content{
                h4{
                    a{
                        font-size: 20px;
                        font-family: Hind, sans-serif;
                        color: #0e1133;
                        margin-top: 0;
                        font-weight: 700;
                        line-height: 1.2;
                        transition: all .3s ease-out 0s;
                        
                    }
                
                }
                p{
                    font-family: Hind, sans-serif;
                    font-size: 15px;
                    font-weight: 500;
                    color: #6d6e75;
                    line-height: 26px;
                }
            }

           
        }


    }
}


.banner-area{
    padding-bottom: 110px;
    .container{
        width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        .banner-item{
            width: 585px;
            background-image: url(../img/banner-bg-1.jpg);
            padding: 50px 40px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 4px;
            position: relative;

            .banner-content{
                span{
                    font-size: 14px;
                    font-weight: 500;
                    color: #fff;
                    background: #fc4389;
                    display: inline-block;
                    height: 22px;
                    line-height: 22px;
                    padding: 0 14px;
                    margin-bottom: 15px;
                    border-radius: 10px;
                    text-transform: capitalize
                }

                h3{
                    font-size: 25px;
                    margin-bottom: 30px;
                  a{
                    font-family: Hind, sans-serif;
                    color: #0e1133;
                    margin-top: 0;
                    font-weight: 700;
                    line-height: 1.2;
                    transition: all .3s ease-out 0s;
                    &:hover{
                        color: #2b4eff;
                    }
                  }
                }

                .btn{
                    font-family: Hind, sans-serif;
                    display: inline-block;
                    height: 45px;
                    line-height: 45px;
                    text-align: center;
                    padding: 0 25px;
                    color: #fff;
                    background: #2b4eff;
                    border-radius: 4px;
                    font-weight: 500;
                    
                }
            }


            .banner-thump{
                position: absolute;
                top: 56%;
                transform: translateY(-50%);
                right: 10px;
            }

          
        }

        .banner-item-1{
            width: 585px;
            background-image: url(../img/banner-bg-2.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 4px;
            padding: 50px 40px;
            position: relative;

            .banner-content{
                span{
                    font-size: 14px;
                    font-weight: 500;
                    color: #fff;
                    background: #fc4389;
                    display: inline-block;
                    height: 22px;
                    line-height: 22px;
                    padding: 0 14px;
                    margin-bottom: 15px;
                    border-radius: 10px;
                    text-transform: capitalize
                }
                h3{
                    font-size: 25px;
                    margin-bottom: 30px;
                    a{
                    font-family: Hind, sans-serif;
                    color: #0e1133;
                    margin-top: 0;
                    font-weight: 700;
                    line-height: 1.2;
                    transition: all .3s ease-out 0s;
                    &:hover{
                        color: #2b4eff;
                    }

                    }

                }

                .btn{
                    font-family: Hind, sans-serif;
                    display: inline-block;
                    height: 45px;
                    line-height: 45px;
                    text-align: center;
                    padding: 0 25px;
                    color: #fff;
                    background: #2b4eff;
                    border-radius: 4px;
                    font-weight: 500;

                }

            }

            .banner-thump-2{
                position: absolute;
                top: 63%;
                transform: translateY(-50%);
                right: 10px;
            }


          
           
        }
    }
}


.course-area{
    padding-top: 115px;
    padding-bottom: 120px;
    background: #f3f4f8;
    .container{
        width: 1200px;
        margin: 0 auto;

        h2{
            font-size: 40px;
            color: #0e1133;
            text-transform: capitalize;
            margin-bottom: 3px;
            font-family: Hind, sans-serif;
            span{
                position: relative;

                img{
                    position: absolute;
                    left:-14px;
                    bottom: 0px;
                    width: 120%;
                    animation: section-animation 3s infinite;
                }
            }
        }

        p{
            font-size: 16px;
            color: #53545b;
            font-family: Hind, sans-serif;
            font-weight: 400;
            margin-bottom: 15px;
            line-height: 26px;
        }


        .course-menu{
            .course-header{
                margin-top: 50px;
                margin-bottom: 50px;
                ul{
                    display: flex;
                    li{
                        a{
                            font-size: 18px;
                            font-weight: 500;
                            color: #0e1133;
                            background: transparent;
                            text-transform: capitalize;
                            margin-right: 40px;
                            transition: all .3s ease-out 0s;
                            &:hover{
                                color: #2b4eff;
                            }
                            
                        }

                        .active{
                            color: #2b4eff;
                        }
                    }
                }
            }

        }

        .course-body{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .course-item{
                width: 32%;
                height: 467px;
                background: #ffffff;
                border-radius: 6px;
                margin-bottom: 30px;
                
                

                &:hover .image{
                   transform: scale(1.2);
                   overflow: hidden;
                }

                .course-thump{
                   
                    position: relative;
                    overflow: hidden;
                   
                    a{
                        border-radius: 6px;
                        .image{
                            width: 100%;
                            overflow: hidden;
                            object-fit: cover;
                            transition: all 1.1s ease-out 0s;
                           
                        }
                    }

                    .course-tag{
                        position: absolute;
                        top: 20px;
                        left: 20px;
                        a{
                            display: inline-block;
                            height: 24px;
                            line-height: 24px;
                            font-size: 14px;
                            font-weight: 500;
                            color: #fff;
                            background: #b128ff;
                            padding: 0 10px;
                            border-radius: 4px;

                        }
                    }
                }

                .course-content{
                    padding: 25px 30px;
                    .course-meta{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-bottom: 7px;

                        .lesson{
                            span{
                                font-size: 18px;
                                color: #53545b;
                                
                                i{
                                    color: #53545b;
                                    padding-right: 7px;
                                }
                            }
                        }
                        .rating{
                            span{
                                font-size: 18px;
                                color: #53545b;
                                i{
                                    padding-right: 5px;
                                    color: #ff9415;
                                }

                            }
                        }
                    }

                    h3{
                        font-size: 20px;
                        font-weight: 600;
                        margin-bottom: 20px;
                        a{
                            font-family: Hind, sans-serif;
                            color: #0e1133;
                            font-weight: 700;
                            line-height: 1.2;
                            transition: all .3s ease-out 0s;
                            &:hover{
                                color: #2b4eff;
                            }
                        
                        }
                    }

                    .course-teacher{
                        display: flex;
                        align-items: center;
                        img{
                            margin-right: 15px;
                            width: 35px;
                            height: 35px;
                            border: 2px solid #ffffff;
                            border-radius: 50%;
                            box-shadow: 0 10px 14px #010b3c1a;
                        }
                        h6{
                           a{
                            font-size: 16px;
                            font-weight: 500;
                            color: #53545b;
                            margin-bottom: 0;
                            line-height: 1;
                            padding-top: 2px; 
                            font-family: Hind, sans-serif;

                            &:hover{
                                color: #2b4eff;
                            }
                           }
                        }
                    }


                }

                .course-more{
                    padding: 15px 30px 10px;
                    border-top: 1px solid #f0f0f5;
                    display: flex;
                    justify-content: space-between;
                    .status{
                        
                        span{
                            font-size: 20px;
                            color: #b128ff;
                            font-weight: 600;
                            padding-right: 5px;
                        }

                        .old-price{
                            font-size: 16px;
                            color: #6d6e75;
                            text-decoration: line-through;
                        }
                    }

                    .course-btn{
                        display: flex;
                        align-items: center;
                        &:hover a{
                            color: #2b4eff;
                            
                        }
                        a{
                            font-size: 16px;
                            color: #0e1133;
                            font-weight: 500;
                            padding-right: 21px;
                            display: inline-block;
                            transition: all 0.3s ease-out 0s;
                            font-family: Hind, sans-serif;
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            &:hover{
                                color: #2b4eff;
                            }
                          
                           i{
                            font-size: 14px;
                            
                           
                           }
                        }
                    }
                }
            }

           .course-item{

            .course-thump{
                .course-tag{
                    .sky-blue{
                        background: #0fa0dd;
                    }
                }
            }

            .course-more{
                .status{
                    .sky-blue{
                       color:#0fa0dd;
                    }
                }
            }

           }


           .course-item{
            .course-thump{
                .course-tag{
                    .green{
                        background: #30a820;
                    }
                }
            }

            .course-more{
                .status{
                    .green{
                        color:#30a820;
                    }
                }
            }
           }


           .course-item{
               .course-thump{
                  .course-tag{
                      .blue{
                        background: #3b60ff;
                      }
                  }
               }


               .course-more{
                .status{

                    .blue{
                        color:#3b60ff;
                    }

                }
               }
           }


           .course-item{
            .course-thump{
                .course-tag{
                    .orange{
                        background: #fa7919;
                    }
                }
            }

            .course-more{
                .status{
                    .orange{
                        color:#fa7919;
                    }
                }
            }
           }

           .course-item{
             .course-thump{
                .course-tag{
                    .pink{
                        background: #f2277e;
                    }
                }
             }


               .course-more{
                  .status{
                      .pink{
                        color: #f2277e;
                        
                      }
                  }
               }
           }

        }
    }
}


.events-area{
    padding-bottom: 120px;
    padding-top: 115px;
    position: relative;

    .events-shape{
        img{
            position: absolute;
            top: 60%;
            left: 53%;
            transform: translate(-50%, -50%);
            z-index: -1;
            
        }
    }

    .container{
        width: 1200px;
        margin:0 auto;

        .section-title{
            margin-bottom: 60px;
            text-align: center;
            h2{
                font-size: 40px;
                color: #0e1133;
                text-transform: capitalize;
                z-index: 1;
                margin-bottom: 3px;

                span{
                    position: relative;
                    img{
                        position: absolute;
                        left: 0px;
                        bottom: 0px;
                        width: 120%;
                        animation: section-animation 3s infinite;
                    }
                }
            }
            p{
                font-family: Hind, sans-serif;
                font-size: 15px;
                font-weight: 400;
                color: #6d6e75;
                margin-bottom: 15px;
                line-height: 26px;
                }
        }

        .events-item{
            width: 976px;
            padding: 28px 50px;
            border-radius: 6px;
            box-shadow: 0 30px 50px #010b3c1a;
            background: #ffffff;
            margin-left: 8.33333333%;
            position: relative;
            margin-bottom: 10px;
            transition: all .5s ease-out 0s;
           

          
           
            &::after{
                position: absolute;
                content: "";
                top: auto;
                bottom: 0;
                left: -3px;
                width: 10%;
                height: 0%;
                background: #2b4eff;
                border-radius: 6px;
                z-index: -1;
               
                
            }

          
            

            .events-content{
                display: flex;
                align-items: center;
                justify-content: space-between;
                .events-meta{
                    span{
                        display: inline-block;
                        position: relative;
                        padding-right: 7px;
                        margin-right: 7px;
                        font-family: Hind, sans-serif;
                        font-size: 16px;
                        font-weight: 400;
                        color: #6d6e75;
                        line-height: 26px;
                    }

                    h3{
                        font-size: 24px;
                        font-weight: 600;
                        margin-bottom: 0;
                        a{
                        font-family: Hind, sans-serif;
                        color: #0e1133;
                        line-height: 1.2;
                        transition: all .3s ease-out 0s;
                        &:hover{
                            color: #2b4eff;
                        }
                        }
                    }


                    .after::after{
                        position: absolute;
                        content: "";
                        right: -2px;
                        top: 5px;
                        width: 1px;
                        height: 14px;
                        background: #6d6e75;

                    }
                }

                .events-more{
                    a{
                        font-size: 16px;
                        color: #6d6e75;
                        font-weight: 500;
                        padding-right: 21px;
                        display: inline-block;
                        transition: all 0.3s ease-out 0s;
                        font-family: Hind, sans-serif;
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        &:hover{
                            color: #2b4eff;
                        }

                        i{
                            font-size: 14px;
                        }
                    }
                }
            }
 
        }


        .events-item:hover{
            &::after{
                content: "";
                top: 0;
                bottom: auto;
                left: -3px;
                width: 10%;
                height: 100%;
                background: #2b4eff;
                border-radius: 6px;
                z-index: -1;
            }
        }


        .events-item-active{
            width: 976px;
            padding: 28px 50px;
            border-radius: 6px;
            box-shadow: 0 30px 50px #010b3c1a;
            background: #ffffff;
            margin-left: 8.33333333%;
            position: relative;
            margin-bottom: 10px;

            &::after{
                
                position: absolute;
                content: "";
                top: auto;
                bottom: 0;
                left: -3px;
                width: 10%;
                height: 100%;
                background: #2b4eff;
                border-radius: 6px;
                z-index: -1;

            }

            .events-content{
                display: flex;
                align-items: center;
                justify-content: space-between;
                .events-meta{
                    span{
                        display: inline-block;
                        position: relative;
                        padding-right: 7px;
                        margin-right: 7px;
                        font-family: Hind, sans-serif;
                        font-size: 16px;
                        font-weight: 400;
                        color: #6d6e75;
                        line-height: 26px;
                    }

                    h3{
                        font-size: 24px;
                        font-weight: 600;
                        margin-bottom: 0;
                        a{
                        font-family: Hind, sans-serif;
                        color: #0e1133;
                        line-height: 1.2;
                        transition: all .3s ease-out 0s;
                        &:hover{
                            color: #2b4eff;
                        }
                        }
                    }


                    .after::after{
                        position: absolute;
                        content: "";
                        right: -2px;
                        top: 5px;
                        width: 1px;
                        height: 14px;
                        background: #6d6e75;

                    }
                }

                .events-more{
                    a{
                        font-size: 16px;
                        color: #6d6e75;
                        font-weight: 500;
                        padding-right: 21px;
                        display: inline-block;
                        transition: all 0.3s ease-out 0s;
                        font-family: Hind, sans-serif;
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        &:hover{
                            color: #2b4eff;
                        }

                        i{
                            font-size: 14px;
                        }
                    }
                }
            }

        }



    }
}

.price-area{
    padding-top: 60px;
    padding-bottom: 130px;

    .container{
        width: 1200px;
        margin: 0 auto;

        .section-title{
            margin-bottom: 60px;
            text-align: center;
            h2{
                font-size: 40px;
                color: #0e1133;
                text-transform: capitalize;
                z-index: 1;
                margin-bottom: 3px;
                font-weight: 600;

                span{
                    position: relative;
                    img{
                        position: absolute;
                        left: 0px;
                        bottom: 0px;
                        width: 120%;
                        animation: section-animation 3s infinite;
                    }
                }
            }
            p{
            font-family: Hind, sans-serif;
            font-size: 15px;
            font-weight: 400;
            color: #6d6e75;
            margin-bottom: 15px;
            line-height: 26px;
            }
        }

        .price-tab{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 50px;
            .left{
                background: transparent;
                padding: 0 15px;
                font-size: 14px;
                color: #121317;
                font-weight: 500;
                height: 36px;
                line-height: 34px;
                border: 2px solid #edeef3;
                border-radius: 4px;
                border-right: 0;
                border-radius: 4px 0 0 4px;
            }

            .right{
                padding: 0 15px;
                font-size: 14px;
                font-weight: 500;
                height: 36px;
                line-height: 34px;
                border: 2px solid #edeef3;
                border-radius: 4px;
                background: #2b4eff;
                color: #fff;
               border-color: #2b4eff;
            }

        }

        .tab-pane{
            display: flex;
            justify-content: center;
            gap: 35px;
            .price-item{
                width: 476px;
                height: 462px;
                padding: 45px 50px 60px;
                border-radius: 6px;
                background: #f3f4f8;

                .price-head{
                    h3{
                        font-size: 26px;
                        margin-bottom: 5px;
                    }

                    p{
                        color: #53545b;
                        margin-bottom: 16px;
                        font-family: Hind, sans-serif;
                        font-weight: 400;
                    }
                }

                .price-tag{
                    padding-bottom: 13px;
                    border-bottom: 1px solid #e0e3ed;
                    margin-bottom: 25px;
                    h4{
                        font-size: 50px;
                        font-family: Hind, sans-serif;
                        color: #0e1133;
                        span{
                            font-size: 16px;
                            font-weight: 400;
                        }
                    }
                }

                .price-features{
                    margin-bottom: 40px;
                     
                    ul{
                        

                        li{
                            margin-bottom: 10px;
                            font-size: 15px;
                            font-weight: 500;
                            color: #0e1133;
                            position: relative;
                            padding-left: 30px;
                            font-family: Hind, sans-serif;
                            &:hover {
                                color:#30a820;
                            }
                            i{
                                position: absolute;
                                left: 0;
                                top: 3px; 
                                display: inline-block;
                                color: #30a820;
                                font-size: 8px;
                                height: 18px;
                                width: 18px;
                                line-height: 18px;
                                text-align: center;
                                border-radius: 50%;
                                background: rgba(48, 168, 32, .1);
                                &:hover{
                                    color:#fff;
                                    background-color: #30a820;
                                }
                            }

                        }
                    }

                    
                }

                .btn{
                    display: inline-block;
                    height: 46px;
                    line-height: 44px;
                    text-align: center;
                    padding: 0 25px;
                    color: #fff;
                    background: #2b4eff;
                    border-radius: 4px;
                    font-weight: 500;
                    transition: all .3s ease-out 0s;
                    &:hover{
                        color: #fff;
                        box-shadow: 0 10px 24px #0417764d;

                    }
                }
            }

            .price-item-2{
                width: 476px;
                height: 503px;
                padding: 45px 50px 60px;
                border-radius: 6px;
                background: #f3f4f8;
                position: relative;
                margin-bottom: 30px;

                .price-offer{
                    position: absolute;
                    top: 20px;
                    right: -15px;
                    z-index: 1;
                    span{

                        display: inline-block;
                        height: 30px;
                        line-height: 30px;
                        font-size: 14px;
                        text-align: center;
                        color: #fff;
                        background: #f2277e;
                        padding: 0 10px;
                        border-radius: 4px 4px 0;
                        position: relative;
                        &::after{
                            position: absolute;
                            content: "";
                            bottom: -10px;
                            right: 0;
                            width: 0;
                            height: 0;
                            border-left: 15px solid #960443;
                            border-top: 0px solid transparent;
                            border-bottom: 10px solid transparent;
                        }
                    }
                }

                .price-head{
                    h3{
                        font-size: 26px;
                        margin-bottom: 5px;
                    }

                    p{
                        color: #53545b;
                        margin-bottom: 16px;
                        font-family: Hind, sans-serif;
                        font-weight: 400;
                    }
                }

                .price-tag{
                    padding-bottom: 13px;
                    border-bottom: 1px solid #e0e3ed;
                    margin-bottom: 25px;
                    h4{
                        font-size: 50px;
                        font-family: Hind, sans-serif;
                        color: #0e1133;
                        span{
                            font-size: 16px;
                            font-weight: 400;
                        }
                    }
                }

                .price-features{
                    margin-bottom: 40px;
                     
                    ul{
                        

                        li{
                            margin-bottom: 10px;
                            font-size: 15px;
                            font-weight: 500;
                            color: #0e1133;
                            position: relative;
                            padding-left: 30px;
                            font-family: Hind, sans-serif;
                            &:hover {
                                color:#30a820;
                            }
                            i{
                                position: absolute;
                                left: 0;
                                top: 3px; 
                                display: inline-block;
                                color: #30a820;
                                font-size: 8px;
                                height: 18px;
                                width: 18px;
                                line-height: 18px;
                                text-align: center;
                                border-radius: 50%;
                                background: rgba(48, 168, 32, .1);
                                &:hover{
                                    color:#fff;
                                    background-color: #30a820;
                                }
                            }

                        }
                    }

                    
                }

                .btn{
                    display: inline-block;
                    height: 46px;
                    line-height: 44px;
                    text-align: center;
                    padding: 0 25px;
                    border-radius: 4px;
                    font-weight: 500;
                    border: 2px solid #d7d9e3;
                    color: #0e1133;
                    background: transparent;
                    transition: all .3s ease-out 0s;
                    &:hover{
                        color: #fff;
                        box-shadow: 0 10px 24px #0417764d;
                        background: #2b4eff;
                    }
                }




                
            }
        }
    }
}


.cta-area{
    margin-bottom: -120px;
    .container{
        width: 1200px;
        margin: 0 auto;
        .cta-inner{
            padding: 50px 100px 53px 70px;
            border-radius: 10px;
            box-shadow: 0 30px 60px #0004304d;
            position: relative;
            z-index: 1;
            background: #2b4eff;
            overflow: hidden;

            .cta-shape{
                img{
                    position: absolute;
                    bottom: -48px;
                    right: -135px;
                }
            }

            .cta-content{
                display: flex;
                align-items: center;
                justify-content: space-between;
                
                h3{
                    position: relative;
                    z-index: 1;
                    font-size: 46px;
                    color: #fff;
                    max-width: 560px;
                    margin-bottom: 0;
                    font-weight: 700;
                }

                .btn{
                    display: inline-block;
                    text-align: center;
                    padding: 0 25px;
                    color: #fff;
                    background: #2b4eff;
                    border-radius: 4px;
                    font-weight: 500;
                    height: 54px;
                    line-height: 58px;
                    background: #ffffff;
                    color: #0e1133;
                    padding: 0 45px;
                    z-index: 99;
                    &:hover{
                        box-shadow: 0 10px 24px #0417764d;
                    }
                   
                }


            }
        }
    }
}



















@keyframes circle-1{
    0%{
        transform: rotate(0);
    }
    100%{
        transform:rotate(360deg) ;
    }
}

@keyframes hero-bounce{
    0%{
        transform: translateY(0);

    }
    20%{
        transform: translateY(0);
    }
    40%{
        transform: translateY(-30px);   
    }
    50%{
        transform: translateY(0);
        
    }
    60%{
        transform: translateY(-15px);
    }
    80%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes section-animation{
    0%{
        width: 0;
    }
    15%{
        width: 100%;
    }
    85%{
        opacity: 1;
    }
    90%{
        width: 100%;
        opacity: 0;
    }
    100%{
     width: 0;
     opacity: 0;
    }
}

@keyframes hero-dot-1{
    0%{
        transform: translateY(100px);
    }
    100%{
        transform: translateY(0);
    }
}
